
nav{
    background-color: #212121;
    
}

.pop {
    color: black;
}

.drims{

    color: white;
    text-align: center;
    background-color: #35BA9B;
    height: 900px;
}

body{
    height: 2000px;
}

.uy{
    position: relative;
    top: 25px;
}

span{
    font-weight: 500;
}

.seco{
    
    text-align: center;
    position: relative;
    bottom: 46.4px;
    background: url(https://media.discordapp.net/attachments/1134058128846106684/1168517487894200370/DW_BG_RPT1.png?ex=65520db7&is=653f98b7&hm=c2cb961168a299462c549d7f33fe40dd34c480c72a56dea980a39710b4e9dcdd&=&width=1193&height=671);
    height: 1900px;
    background-attachment: fixed;
    
}

.container{
    position: relative;
    top: 20px;
}

.opka{
    background-color: #35BA9B;
}

.tri{
    text-align: center;
    background: url(https://media.discordapp.net/attachments/1134058128846106684/1167988135255351418/discordtab.png?ex=655020b7&is=653dabb7&hm=c9db0bbb60f047c5ee0af51eefab4db6625297791092764ce21e3b67e4446044&=&width=1228&height=671);
    height: 700px;
    background-attachment: fixed;
    position: relative;
    bottom: 0px;
    color: white;
}

.withbg{
    background-color: #212E71;
    color: white;
    height: 80px;
}

.bebr{
    background: linear-gradient(328deg, #F5B945 0%, #FDCD56 100%);
    height: 500px;
    width: 500px;
    border-radius: 20px;
}

.tat{
    position: relative;
    top: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}

hr {
    position: relative;
    top: 5px;
    height: 4px;
    background-color: grey;
    border: 0px;
}
.desc{
    color: white;
    font-size: 20px;
}

input{
    font-size: 30px;
    border: 0px;
    border-radius: 10px;
}

input:hover{
    cursor: pointer;
}

.bebr{
    margin: 0 auto ;
    height: 320px;
}

.pop{
    width: 5px;
}

.soc{

    color: white;
    text-align: center;
    background-color: #35BA9B;
    height: 800px;
}

.bloo{
    position: relative; top: 0px;
}

.tab:hover{
    cursor: pointer;
}

.tab{
    height: 190px;
}

.thre{
    text-align: center;
    height: 8000px;
    background: url(https://media.discordapp.net/attachments/1134058128846106684/1168432516353507379/Star_Background.png?ex=6551be94&is=653f4994&hm=660a114e00e418121b3ad2e1f0e9079f143f82d5acafdb0782f73041b3e278d6&=&width=1228&height=671);
    background-attachment: fixed;
}

.tutor{
    background-color: #212121;
    border-radius: 40px;
}

.fop{
    font-size: 50px;
}
.sidenav{
   background: url(https://cdn.discordapp.com/attachments/1168499616518504468/1168528202663219220/run_sack_run_bg_full_width_0.jpeg?ex=655217b1&is=653fa2b1&hm=650b5c01dc43124fdabe88f70c4f9d42b40aafd4cf5586b550c6b83abb9aac32&);
   background-position: top right;
   
}




@media (max-width: 720px) {
    iframe{
        width: 340px;
    }

    .kokl{
        font-size: 40px;
    }

    .seco{
        height: 3000px;
    }

    .fop{
        font-size: 25px;
    }

    .tab{
        height: 130px;
    }

    .bebr{
        background: linear-gradient(328deg, #F5B945 0%, #FDCD56 100%);
        height: 310px;
        width: 500px;
        border-radius: 5px;
    }
    

    .bloo{
        position: relative; bottom: 380px;
    } 

    h2{
        font-size: 50px;
    }

}



@media (max-width: 480px) {
    iframe{
        width: 240px;
    }

    .kokl{
        font-size: 20px;
    }
    .fop{
        font-size: 35px;
    }

    .pipa{
        height: 250px;
    }
    
    .bebr{
        
        width: 200px;
        height: 430px;
        margin: 0 auto ;
        font-size: 5px;
        border-radius: 10px;
        

    }

    input{
        font-size: medium;
    }
    .withbg{
        font-size: 45px;
    }
    .uy{
        font-size: 45px;
    }

    .seco{
    
        text-align: center;
        position: relative;
        bottom: 46.4px;
        height: 2500px;
        background-attachment: fixed;
        
    }

    .bloo{
        position: relative; bottom: 380px;
    }  
    
    h2{
        font-size: 50px;
    }

    .drims{
        height: 1500px;
    }

    .tab{
        height: 110px;
    }

}

@media (max-width: 280px) {
    .fop{
        font-size: 26px;
    }



    .pipa{
        height: 150px;
    }
    
    .bebr{
        
        width: 200px;
        height: 00px;
        margin: 0 auto ;
        font-size: 5px;
        

    }

    input{
        font-size: medium;
    }
    .withbg{
        font-size: 30px;
    }

    .seco{
    
        text-align: center;
        position: relative;
        bottom: 46.4px;
        height: 3500px;
        background-attachment: fixed;
        
    }
    .uy{
        font-size: 30px;
    }

    .drims{
        height: 1500px;
    }

    .tab{
        height: 90px;
    }
}


@media (max-width: 344px) {

    iframe{
        width: 140px;
    }
    .tab{
        height: 80px;
    }
}

